html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 70vh;
  }
  .carousel-item-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 70vh;
  }
  .secction-promocion_card {
    display: flex;
    flex-wrap: wrap;
  }
  .presentaciones_h2 {
    transform: translateY(-20px);
  }
  .article-presentacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.sticky-top {
  padding-top: 0;
}

.header_social {
  background-color: #fef6e4;
}

header svg {
  fill: #f582ae;
}

header nav {
  background-color: #f3d2c1;
  color: #001858;
}

.navbar-nav a {
  font-weight: 600;
}

.navbar-nav a:hover {
  color: #172c66;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 70vh;
  }
  .carousel-item-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 70vh;
  }
  .secction-promocion_card {
    display: flex;
    flex-wrap: wrap;
  }
  .presentaciones_h2 {
    transform: translateY(-20px);
  }
  .article-presentacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.carousel-item {
  height: 80vh;
}

.carousel-item-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  height: 80vh;
}

footer {
  background-color: #001858;
  color: #fef6e4;
}

footer a {
  color: #fef6e4;
}

footer svg {
  fill: #fef6e4;
}

footer svg:hover {
  fill: #f582ae;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 70vh;
  }
  .carousel-item-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 70vh;
  }
  .secction-promocion_card {
    display: flex;
    flex-wrap: wrap;
  }
  .presentaciones_h2 {
    transform: translateY(-20px);
  }
  .article-presentacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.section-promocion {
  background-color: #f3d2c1;
}

.secction-promocion_card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.section_menu-tittle {
  padding: 1rem;
  background-color: #fef6e4;
}

.menu-content {
  background-color: #fef6e4;
}

.menu-content .btn {
  background-color: #fef6e4;
  color: #001858;
  font-weight: 500;
}

.card {
  background-color: #f582ae;
}

h2 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #001858;
}

h3 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 600px) {
  .carousel-item {
    height: 70vh;
  }
  .carousel-item-img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    height: 70vh;
  }
  .secction-promocion_card {
    display: flex;
    flex-wrap: wrap;
  }
  .presentaciones_h2 {
    transform: translateY(-20px);
  }
  .article-presentacion {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.presentaciones_h2 {
  transform: translateY(-125px);
}

.presentacion {
  background-color: #fef6e4;
}

.article-presentacion {
  display: flex;
  gap: 20px;
}

.article-presentacion p {
  color: #172c66;
}

/*# sourceMappingURL=style.css.map */
