@import "../base/variables";
footer {
    background-color: $headline;
    color: $highlight;
}

footer a{
    color: $highlight;
}

footer svg{
    fill: $highlight;
}
footer svg:hover{
    fill: $tertiary;
}