
$fonts: Verdana, Geneva, sans-serif;
$bg-image: url('../assets/background/svg/teeth_texture.svg');

$palette1:
#0088ff,
#f975f4,
#ffabc9,
#fffbce,
#ffffed;

$palette2:
#cd63cf,
#5b2d33,
#c3d291,
#0e8caf,
#224b69;
