<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>DIZFRUTE | ENCUENTRANOS</title>
</head>

<body>
    <header>
        <div>
            <a href="#"><img src="../assets/logos/facebook_logo.png" alt="facebook"></a>
            <a href="#"><img src="../assets/logos/instagram_logo.png" alt="instagram"></a>
            <a href="#"><img src="../assets/logos/twitter_logo.png" alt="twitter"></a>
        </div>
        <nav>
            <ul>
                <a href="index.html"><img src="../assets/logos/ice-cream.png" alt="logo-dizfrute"></a>

                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/menu.html">Menú</a></li>
                <li><a href="../view/encuentranos.html">Encuentranos</a></li>
                <li><a href="../view/trabaja.html">Trabaja con nosotros</a></li>
                <li><a href="../view/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3937.3581097267142!2d-75.40430738593925!3d9.301502287224155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5915d3e7fc6825%3A0x35a731f9580f4178!2sDizfrute!5e0!3m2!1ses-419!2sco!4v1680228876849!5m2!1ses-419!2sco"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <footer>
        <div>
            <img src="../assets/logos/ice-cream.png" alt="logo-dizfrute">
            <h6>Un sabor para compartir</h6>
            <img src="../assets/images/estrellas.png" alt="estrellas">
        </div>
        <div>
            <img src="../assets/logos/facebook_logo.png" alt="facebook">
            <img src="../assets/logos/instagram_logo.png" alt="instagram">
            <img src="../assets/logos/twitter_logo.png" alt="twitter">
        </div>
    </footer>

</body>

</html>