<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>DIZFRUTE | TRABAJA CON NOSOTROS</title>
</head>

<body>
    <header>
        <div>
            <a href="#"><img src="../assets/logos/facebook_logo.png" alt="facebook"></a>
            <a href="#"><img src="../assets/logos/instagram_logo.png" alt="instagram"></a>
            <a href="#"><img src="../assets/logos/twitter_logo.png" alt="twitter"></a>
        </div>
        <nav>
            <ul>
                <a href="index.html"><img src="../assets/logos/ice-cream.png" alt="logo-dizfrute"></a>

                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../view/menu.html">Menú</a></li>
                <li><a href="../view/encuentranos.html">Encuentranos</a></li>
                <li><a href="../view/trabaja.html">Trabaja con nosotros</a></li>
                <li><a href="../view/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
   <section>
    <h2>Trabaja con nosotros</h2>

    <p>Heladero/a: Encargado/a de elaborar y preparar los helados.</p>
    <p>Vendedor/a de helados: Responsable de atender a los clientes.</p>
    <p>Cajero/a: Responsable de el cobro y facturacion.</p>
   </section>
    <footer>
        <div>
            <img src="../assets/logos/ice-cream.png" alt="logo-dizfrute">
            <h6>Un sabor para compartir</h6>
            <img src="../assets/images/estrellas.png" alt="estrellas">
        </div>
        <div>
            <img src="../assets/logos/facebook_logo.png" alt="facebook">
            <img src="../assets/logos/instagram_logo.png" alt="instagram">
            <img src="../assets/logos/twitter_logo.png" alt="twitter">
        </div>
    </footer>

</body>

</html>